body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Handjet", sans-serif;
}
canvas {
  margin: 1rem;
  border: 5px solid rgb(219, 97, 15);
}
.main-header {
  color: darkblue;
  font-size: 3.5rem;
  font-weight: 500;
  margin: 1rem;
}

#score-container {
  color: red;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
}

#new-button {
  font-family: "Handjet";
  font-size: 1.5rem;
  text-decoration: none;
  border: none;
  background-color: rgb(107, 200, 132);
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem;
  color: rgb(53, 50, 50);
}

#new-button:hover {
  background-color: rgb(119, 227, 148);
}
